@charset "ISO-8859-1";
.btclass{
    background-color: hwb(0 3% 29%);
    border-radius: 5vh;
    background-color: darkgoldenrod;
}
.formtag{
   background-color: rgba(204, 210, 11, 0.629);
   color: black;
   border-radius: 2vh;
   margin-left:70vh;
   padding-left: 20vh;
   border: 2px solid;
   width: 70vh;
   height:auto;
}
#submitid{
background-color: #00ff00;
}

